/* Header Style starts here */

.header-container {
    background-image: linear-gradient(180deg, #070211, rgba(7, 2, 17, 0.00)),
        url('/Images/Banner\ Image.png');
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    width: 100%;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;
}

.header-sub-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 177px;
}

.header-section {
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
}

/* Header styles ends here */