* {
    margin: 0;
    padding: 0;
}

/* Header Style starts here */
.header {
    margin-top: 50px;
}

.header-container {
    background-image: linear-gradient(180deg, #070211, rgba(7, 2, 17, 0.00)),
        url('Images/Banner\ Image.png');
    background-position: center;
    border-radius: 16px;
    background-repeat: no-repeat;
    width: 100%;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;
    margin-bottom: 16px;
}

.header-sub-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 177px;
}

.header-section {
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
}

/* Header styles ends here */

/*Offer section styles starts here */
.offer-container {
    text-align: center;
    max-width: 1320px;
    margin: 0 auto;
}

.offer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

.offer-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-bottom: 48px;
}

.offer-info {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.offer-sub-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.offer-img {
    width: 802.9px;
    height: 500px;
}

/* Offer section styles ends here */

/* Party section style starts here */
.party {
    margin-bottom: 120px;
}

.party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('Images/Vectorrr.png');
    text-align: center;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.party-info {
    text-align: start;
    padding-left: 126px;
}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
    /* 166.667% */
}

.party-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: #F00;
}

.party-img {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding-right: 128px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* Party section style ends here */

/* location section style starts here */
.location-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    text-align: center;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
}

.loc-info {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
}

.loc-info h2 {
    margin-bottom: 48px;
}

.span-1 {
    color: #F00;
}

/* location section style ends here */

/* New offer section style starts here */
.new-offer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    gap: 20;
    margin-top: 120px;
}

.coming-soon {
    text-align: left;
    padding-right: 70px;
    max-width: 393px;
}

.new-offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.new-offer-sub {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.new-offer-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.new-offer-img {
    width: 364.844px;
    height: 364.844px;
}

.img-div {
    width: 463px;
    height: 463px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 463px;
    border: 15px solid #F00;
}

.new-year {
    padding-left: 118px;
}

.new-year-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.new-year-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.new-year-img {
    width: 140px;
    height: 140px;
}

/* New offer section style ends here */

/* Holiday section style starts here */

.holiday-container {
    max-width: 1320px;
    height: 900px;
    margin: 0 auto;
    gap: 20;
    margin-top: 120px;
    margin-bottom: 120px;
}

.holiday-text {
    text-align: center;
}

.holiday-sub {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.holiday-span {
    color: #F00;
}

.holiday-info {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
}

.discount-container {
    background-image: url("Images/Rectangle\ 2.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: bottom;
}

.gift {
    width: 278.09px;
}

.fifty {
    width: 206.841px;
    height: 206.841px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-right: -500px;
}


/* Holiday section style ends here */

/* Portfolio section style stars here */
.portfolio {
    max-width: 1320px;
    margin: 0 auto;
    gap: 20;
    margin-bottom: 120px;
}

.portfolio-img {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.portfolio-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.portfolio-item {
    width: 424px;
    height: 450px;
}

/* Portfolio section style ends here */
/* Newletter section style starts here */

.newsletter-container {
    max-width: 1320px;
    height: 616px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 120px;
}

.newsletter-img {
    width: 150px;
    height: 150px;
    padding-top: 80px;
    margin-bottom: 40px;
}

.newsletter-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    text-transform: capitalize;
}

.newsletter-description {
    max-width: 896px;
    margin: 0 auto;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    /* 160% */
}

.newsletter-input {
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    width: 438px;
    border: none;
    border-radius: 50px 0px 0px 50px;
}

.subscribe-btn {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* Newletter section style ends here */
/* Footer section style starts here */
.footer-location {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.line {
    width: 75%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin: 20px auto;

}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-icon {
    width: 64px;
    height: 64px;
}

.footer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.footer-container{
    background: #070211;
    width: 1600px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.copyright{
    margin-top: 50px;
}
/* Footer section style ends here */